@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --font: "Outfit", sans-serif;
}

body,
.updates,
.eth,
.deadline,
.author-section {
  display: flex;
  align-items: center;
}
body {
  justify-content: center;
  background-color: hsl(217, 54%, 11%);
  font-family: var(--font);
  min-height: 100vh;
}

a {
  text-decoration: none;
}
.card {
  max-width: 350px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  text-align: center;
  padding: 24px;
}

.container {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 8px;
}

.main-img {
  display: block;
  max-width: 100%;
  border-radius: 8px;
}

.rect {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  background-color: #00fff8;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.card-body {
  text-align: left;
}

.title {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 22px;
}

.description {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
  font-size: 18px;
}
.updates {
  justify-content: space-between;

  margin-bottom: 24px;
}

.eth span {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
  font-size: 16px;
  margin-left: 6.48px;
}

.deadline span {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
  margin-left: 6.48px;
}

hr {
  color: hsl(215, 32%, 27%);
}

.author-section img {
  width: 33px;
  height: 33px;
  border: 1px solid white;
  border-radius: 25px;
}
.author {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
  font-size: 16px;
  margin-left: 16px;
}

.author-name {
  color: hsl(0, 0%, 100%);
}

.author-name:hover,
.title:hover {
  color: hsl(178, 100%, 50%);
}

.rect:hover {
  opacity: 0.5;
}
